doctype html
html(lang='en')
  head
    title Jade
    link(href="/css/style.css", rel="stylesheet")
  body
    h1 Markdown to HTML Converter
    input#md
    input#html
    button Convert text to HTML
      script(src='https://code.jquery.com/jquery-2.1.4.min.js')
